
.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  border: 2px solid #ccc;
  color: white;
  background:  #0a4f70;
  border-radius: 8px;
  width: 80%;
  /* min-width: 80%; */
}

.form button[type="submit"] {
  border: none;
  height: 50px;
  width: 100px;
  margin: 0 10px;
  border-radius: 8px;
  background: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.5s;
}

.form button[type="submit"]:hover {
  background-color: #0071e2;
}
