.total-chek {
  padding: 20px 5px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}
h3 {
  color: white;
}
.total {
  border-radius: 8px;
  color: white;
  background: black;
  padding: 5px 10px;
  margin: 0 5px;
}
h4 {
  color: red;
}
.concluido {
background: black;
border-radius: 8px;
color: white;
padding: 5px 10px;
margin: 0 5px;
}

.cent {
  padding: auto;
  width: 800px;
}

/* check */
.tarefas .button .check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
}

/* .tarefas .button .isFalse {
  border: .2rem solid #4EA8DE;
  border-radius: 100%;
  padding: .8rem;
} */

/* tarefas */

.tarefas {
  margin-top: 30px;
  overflow-y: scroll;
  height: 300px;
}

::-webkit-scrollbar {
  width: 10px;
}

.tarefas li {
  border: 1px solid;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: wheat;
  padding: 25px;
  border-radius: 10px;
  transition: all 600ms;
  background: black;
}

.tarefas li .edit
 {
  margin-right: 15px;
  color: #51c5de;
 }
 .tarefas li .del
 {
  margin-right: 15px;
  color: #f04c64;
 }

 .tarefas li .edit,
 .tarefas li .del {
  cursor: pointer;
  transition: all 600ms;
 }

 .tarefas li span {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .cent {
    width: 100%;
  }
  header {
    width: 100%;
  }
}