* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  background: #872637;
  color: white;
  padding: 15px;
}
.title {


}
.title2{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
}

h2 {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
}
.logo {
  color:white;
}