section {
  display: flex;
  flex-wrap: wrap;
  background: black;
  color: white;
}
.center-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.main
{
  padding: 30px;
  margin: 50px auto;
  width: 800px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
}
.main h1 {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
  }
}
